[2020-03-22 14:47] gio82c opened #1 "restore mode"
Hi Zacs,

there is a way to restore the state from cool to cool when i send cmd climate.turn_off and turn on again?

now if is in cool mode and turn off the thermostat when i turn on star on heat mode.

[2020-03-23 23:40] zacs commented on #1
Hmm, that isn't the intended behavior and I've not seen it happen that way. Can you enable logging and paste what you get? To enable logging add this to your conf

[code]

[2020-03-24 09:13] gio82c commented on #1
Thanks for reply,
i check the only problem is:

2020-03-24 09:51:30 ERROR (MainThread) [custom_components.dualmode_generic.climate] Unable to update from sensor: could not convert string to float: 'unknown'

i can't see error when turn off and on.

[2020-03-26 14:53] zacs commented on #1
Hmm, can you check that your sensor has a valid state? It’s state attribute should be a number.

[2020-03-26 18:09] gio82c commented on #1
i use a sonoff TH with espurna firmware, it's valid number for temperature and work good i have this message but the thermostat works..

[2020-03-28 16:06] gio82c commented on #1
Maybe could I use an automation to restore the state? can you helm me?

[2020-04-18 11:07] gio82c commented on #1
Sequential message for the component

- 2020-04-18 12:48:37 INFO (MainThread) [homeassistant.components.climate] Setting up climate.dualmode_generic
- 2020-04-18 12:48:44 ERROR (MainThread) [custom_components.dualmode_generic.climate] Unable to update from sensor: could not convert string to float: 'unknown'
- 2020-04-18 12:48:44 INFO (MainThread) [custom_components.dualmode_generic.climate] Obtai

[2020-05-26 17:49] alexvenom opened #3 "[Feature Request] Ventilator/Dehumidifier Mode"
This work is AWESOME and I've been using it with my reverse-cycle HVACs for weeks now.
One thing that would make it even more awesome is to have a heater, cooler AND ventilator switch, so we can pick from the thermostat itself if we want to cool the environment using the AC (faster, more power hungry) or using the ventilator (slower, less power hungry).
Congratulations on the great work!

[2020-06-02 00:12] zacs commented on #3
Thanks @alexvenom. Just to be clear, you'd want the ventilator mode to act like a cooler? I would just need to know in order to do the logic for target temp (as in, I would have to expect the temp to be higher than target, and get cooler). I think it would be fairly trivial to add as an optional feature.

[2020-06-02 15:03] alexvenom commented on #3
Hey @zacs !
Ventilator working as a cooler would be perfect!
Thank you so much for looking into this! Your work is awesome!

[2020-06-04 06:48] david-kalbermatten commented on #3
@zacs
As much as I want a ventilator/fan mode, I disagree that running an HVAC in ventilator mode always results in a lower temperature (it depends on the outside temperature when running a mobile unit). Please make the ventilator mode runnable without temperature control or maybe add an additional attribute like this in the config, where "neutral"-mode just turns the switch/input_boolean for the

[2020-06-04 07:32] bbbates commented on #3
Could you not just determine what mode to put the unit into in the `cooler` switch, rather than having a different mode altogether?

[2020-06-04 07:49] david-kalbermatten commented on #3
@bbbates
Since you didn't tag anyone, I'll try to answer the question. @alexvenom wanted a ventilator mode where he could run his HVAC in ventilator mode (not cooling mode) in order to slowly cool down his house/room and still have it controlled by the thermostat.
I added that depending on your HVAC-setup the temperature might actually rise from running in ventilator mode. Hence why I proposed a w

[2020-06-04 11:26] ciumagcatalin opened #4 "ClimateDevice is deprecated, modify GenericThermostat to extend ClimateEntity"
On Home Assistant Core 0.110.4  I get the below warning: ClimateDevice is deprecated, modify GenericThermostat to extend ClimateEntity

[2020-06-04 11:48] ciumagcatalin opened #5 "Unable to update from sensor: could not convert string to float: 'unknown'"
On Home Assistant Core 0.104 I am getting: Unable to update from sensor: could not convert string to float: 'unknown'.
The setup was working fine on the older HA versions and my setup is:

  - platform: dualmode_generic
    name: Small Bedroom Thermostat
    heater: switch.small_bedroom_heating
    cooler: switch.living_air_conditioner
    target_sensor: sensor.small_bedroom_temperature
    min_te

[2020-06-04 13:51] alexvenom commented on #3
Hey guys!
I didn't put much thinking on it but now that @david-kalbermatten explained what's in his mind, it seems much better and makes a lot of sense.

[2020-06-04 14:04] ciumagcatalin commented on #5
I think this happen when my homeassistant load first time and the sensors are not populated. I don't get it anymore after some time.

[2020-06-04 20:57] zacs commented on #5
Yah, this happens to me as well when the dualmode component gets loaded. I
could potentially add some sort of delay to it, but I assume this happens
with the official generic component as well. I’ll take a look at the latest
code for that component and see if there is delay logic I can borrow.

On Thu, Jun 4, 2020 at 7:05 AM ciumagcatalin <notifications@github.com>
wrote:

[2020-06-05 03:29] bbbates commented on #3
@david-kalbermatten
I didn't tag anyone as it was a general question to the watchers of this issue.

@alexvenom did you try setting up 2 thermostats? A built-in Generic Thermostat (https://www.home-assistant.io/integrations/generic_thermostat/) which could control the Ventilator/dehumidifier, and a dual-mode thermostat (controlling the heating and cooling)? With some automations, you could easily

[2020-06-05 06:32] bbbates commented on #5
I suspect this fix (https://github.com/zacs/ha-dualmodegeneric/pull/6/files#diff-f6c9a6f9f4807af09d43c079b5749e5aR214) will solve that issue for you.

[2020-06-05 11:44] ciumagcatalin commented on #5
But I got the last version 3 days ago. Maybe I missed smth. Is there anything I can help with?

[2020-06-05 15:28] bbbates commented on #5
I only pushed that PR today and it hasn’t been merged yet 🙂

[2020-06-07 08:53] bbbates commented on #5
@zacs merged that potential fix in. @ciumagcatalin Can you give it a test with the latest?

[2020-06-08 19:59] zacs commented on #3
@bbbates I tend to agree with you here. The whole point of the plugin at first was "one switch for up, one switch for down" and the fact that they happen to be called `heater` and `cooler` was meant to be vague (eg. a cooler can be an AC unit or it can be a dehumidifier). I can see this snowballing into adding a fan (quintuple mode!) and probably others as well.

Another option would be to use a s

[2020-06-08 20:24] #4 closed

[2020-06-09 08:17] david-kalbermatten commented on #3
I made the necessary changes for the hvac_mode_ventilator to be working as a cooler and dropped my own suggestion of defining the behavior in the config file. And I also dropped the idea of having a Dehumidifier mode :D

Pull request: #8
[code]

[2020-06-09 18:33] zacs commented on #3
@david-kalbermatten I really like the idea of leveraging the `fan` properties of the [climate entity](https://developers.home-assistant.io/docs/core/entity/climate/). I think in general this component can/should turn into a more complete representation of that entity (and i should add the ability for folks to declare a humidity sensor, etc).

Apologies for the back and forth, but do you think you

[2020-06-09 18:57] david-kalbermatten commented on #3
@zacs sure, no problem. I'll probably add the "fan_behaviour" property tomorrow as well, which would then allow you to define whether it acts like a heater, a cooler or just stays on i.e. not controlled by the thermostat.

[2020-06-10 03:42] bbbates commented on #3
I would suggest if something isn't going to be controlled by the thermostat, then it shouldn't in the thermostat component - I think it would be confusing to leave in.

[2020-06-10 09:48] david-kalbermatten commented on #3
@bbbates In a way, it's going to be controlled by the thermostat just not by the temperature set for it (if running with `neutral` behavior). In some cases, you may want to be able to just 'tell' the thermostat that you want the fan to run independently of the temperature to have air circulation.
And if we think of the climate entity as one real-life device it makes sense to have this included as

[2020-06-12 13:05] david-kalbermatten commented on #3
## Update
@zacs @bbbates @alexvenom Alright, I have an update for you guys!
I finished the implementation of the `fan-mod` and `dryer/dehumidifier-mode` and also reworked the `reverse_cycle-option` (I'll let @bbbates be the judge whether my implementation of `reverse_cycle` passes :D)

## Sample Config
[code]
### `fan_behavior` and `dryer_behavior`

These config-properties define the wanted behavi

[2020-06-12 19:58] zacs opened #9 "Add automatic (HVAC_MODE_HEAT_COOL) mode"
According to the new climate entity, [AUTO mode is reserved for a unit operating on its own intelligence](https://developers.home-assistant.io/docs/core/entity/climate) (eg. something AI based), so supporting a temp range (and corresponding heater or cooler turning off) means supporting HVAC_MODE_HEAT_COOL mode.

[2020-06-14 02:26] bbbates commented on #3
Thanks for the effort @david-kalbermatten.

As I mentioned in the PR, I really don’t think this is the right approach for this component. From reading @david-kalbermatten ’s notes on what he’s trying to get working, it seems like the component he’s missing from home assistant is a “Template HVAC” integration, one that implements the set of Climate services (https://www.home-assistant.io/integratio

[2020-06-14 07:01] ciumagcatalin commented on #5
@bbbates , it works. I just put it today in and I don't get those messages anymore. Thanks!!

[2020-06-14 08:31] bbbates commented on #9
I suspect this fork might be trying the same thing 🙂

[2020-06-14 13:38] david-kalbermatten commented on #3
@bbbates Yea, I see your point and I might actually be crazy enough to make a climate template in the style of the fan template. As a matter of fact, I actually set up my bedroom fan using the fan template :D

However, this doesn't change that adding these modes to this integration is valuable as well. Right now we think of the most common use case, people using this integration to control ONE phy

[2020-06-15 03:23] bbbates commented on #3
But, you can do that all right now with the current version of this component.

To use your example, if you want the central heating and space heater to come on when in `heat` mode, you can specify that in your `heater` switch.
Something like:
[code]

[2020-06-15 17:00] zacs commented on #9
Hah! I had not yet seen that. @FPSlacker do feel free to submit a PR for merge into this repo.

[2020-06-15 17:13] zacs commented on #5
Thanks @bbbates for the fix! Fixed in 88a4611f517ef36985bcbbadd80904de30009eb5.

[2020-06-15 17:13] #5 closed

[2020-06-22 17:02] brandondb1 commented on #3
Hi All, this looks really great, and thanks for the component.  I'm finally done with my Nest, and building my own stat based on a relay block and ESP.

For my $0.02, the fan is more of a temperature equalizer, so it neither heats nor cools, but redistributes air throughout the house.  I live in Canada and have south facing windows, so in the winter my living room can be 30C, while the basement is

[2020-06-22 17:14] david-kalbermatten commented on #3
@brandondb1 What you're asking is an entirely new feature request and as such, you should open a new issue for that.
Also, I saw pull-requests to the core of home assistant for various humidifier/dehumidifier related entities as default components. [https://github.com/home-assistant/core/pull/28693](https://github.com/home-assistant/core/pull/28693)

Yea, that's called a hygrostat.

And it sounds

[2020-06-22 18:37] brandondb1 commented on #3
Hi David,

Thanks for the reply. It wasn't my intent to suggest new features per se (although I see that I kind of did) - more just another  context.  As I've been figuring this all out, it's apparent to me that there are a vast range of configurations in HVAC, and particularly that Europe an North America have vastly different systems that would be hard to make work under one 'roof', so I agree t

[2020-07-22 21:12] ab0tj opened #10 "[Feature request] Separate cold_ and hot_tolerance settings for each mode"
I currently use two separate generic_thermostat instances to control a furnace and an evaporative cooler. In order to prevent short cycling on the cooler, I use a fairly high hot_tolerance setting on the thermostat for the cooler. I suspect this would not be a great thing during the winter when the furnace is running. It would be wonderful to have separate settings based on if it is currently heat

[2020-10-22 03:32] KairuByte opened #11 "Request: Fan/Blower"
One piece that I have been looking for is a fan system involved. In my case, I have a simple space heater, and run a fan directly in front of it to help circulate the heat, but when the space heater is off, I typically turn off the fan as well.

On the other hand, I also use that same fan as the cooling device.

It would be nice to have the fan included in the heat and cool of the run cycles. Curr

[2020-11-13 03:59] KairuByte commented on #10
Are you certain this isn't already possible? The readme claims that all existing options of the generic thermostat integration should work/exist, and separate hot/cold tolerances is one such option.

[2020-11-14 06:33] zacs commented on #10
When I put the plugin together I copied the mainline generic_thermostat and
made updates, so yes that should work.

On Thu, Nov 12, 2020 at 7:59 PM KairuByte <notifications@github.com> wrote:

[2020-11-17 04:58] KairuByte opened #12 "[Bug] Enabling thermostat when switch already active results in idle"
### Reproduction Steps:
1. Set up thermostat with two switches, one for heat and one for cool (as expected)
2. Set thermostat to off
3. Set thermostat to within heating range (if ambient is 70 set target to 74 for example)
4. Manually turn cool switch on
5. Set thermostat to heat

### Expected results:
Thermostat should swap cool switch to off, and heat switch to on.

### Actual results:
Both swit

[2020-11-17 05:01] zacs commented on #12
You know, I think I actually ran into this last week. Should be easy to fix, I will add explicit setting of both switches in all modes.

[2020-11-17 06:13] KairuByte opened #13 "[Bug] Manual switch of opposite mode results in non idle state"
### Reproduction Steps:
1. Set up thermostat with two switches, one for heat and one for cool (as expected)
2. Set thermostat to heat
3. Set thermostat to outside heating range (if ambient is 74 set target to 70 for example)
4. Manually turn cool switch on

### Expected results:
Thermostat should remain in idle state, as we are not heating.

### Actual results:
State is set to "heating".

### Note

[2020-11-18 01:45] bbbates commented on #12
@KairuByte can you try setting the `reverse_cycle` property on the thermostat component to `true`, and see if that fixes the issue for you?
I have that property turned on for my thermostat, and I couldn't reproduce using the steps above.

[2020-11-18 05:42] zacs commented on #12
@bbbates Looking through the code last night, my guess is that https://github.com/zacs/ha-dualmodegeneric/blob/09455b0afc64950eebd575c361d787646e643d42/custom_components/dualmode_generic/climate.py#L331 (and the matching lines) is the likely culprit, since that `_async_cooler_turn_off()` gets missed. My fix adds a backup call to turn off the cooler, but I am respecting the `reverse_cycle` property

[2020-11-18 20:53] KairuByte commented on #12
@zacs I am currently not using `reverse_cycle`. I can give it a shot later tonight though.

[2020-11-19 17:55] KairuByte commented on #13
Further testing shows this may actually result in cycles not properly kicking off. In the example above, the heat switch will not fire even if the ambient temperature drops to 66.

[2020-11-19 18:11] KairuByte commented on #12
@zacs @bbbates I can confirm that reverse_cycle does prevent immediate idle status, and switches being turned off. That said it leads into #13, including what I would consider a breaking bug (mentioned in the first comment)

[2020-11-19 18:14] zacs commented on #13
Even if the heat "shouldn't" be on (your 74 when set point is 70 example), I still think the climate component should show as heating if the switch is on, since that's reality. However your point about it screwing up triggering when the temp then drops below 70 is definitely a bug.

[2020-11-19 18:19] zacs commented on #13
It seems to me like if the cool switch is manually activated, the climate itself should then shift to "cool" mode, but I realize that isn't the best experience. Having to manage and listen for all events where the heat/cool switches get activated manually will be a pretty big undertaking if we want to go that route.

Generally though, if mode is set to heat and the cool switch is manually toggled

[2020-11-19 19:45] KairuByte commented on #13
It will stay on until the mode switches.

I'm actually not "manually" enabling the cooling device, I'm automating it by detecting the climate entities state change, and when it changes to anything other than "off" it simply switches the cooling device on. Similar in effect to how #11 would work if implemented.

Admittedly not the best solution, and I could likely be using the standard generic.

[2020-11-20 04:56] zacs commented on #13
Thanks for the clarification. When I say "manual" I suppose I mean "anything outside the component." So just to be clear, you have:
- Climate device in heat mode
- Cooler switch gets turned on by automation

And once that happens, even after many minutes, the cooler switch remains on? If so this may be a condition for when the component doesn't think to activate (since it is not `too_cool`) and I

[2020-11-20 08:38] KairuByte commented on #13
Auto and fan modes would definitely negate the need for the automation, so it would solve my use case.

Slight adendum to your "timeline", the heat switch will never turn on once it has hit "idle".

If I had to guess at the root cause: Any associated switch being "on" results in a "non idle" state, "idle" state is required before the associated switch will trigger.

I'm not certain a state monitor

[2020-11-27 17:31] brandondb1 commented on #13
I think that as @zacs said, the assumption is (and needs to be) implicit that control of devices is ceded to the component.  If you need to control them from elsewhere in the UI, you could call the relevant service rather than triggering the switch directly.

I use a couple of input booleans (one for cool, one for heat) as the 'switches' the component controls, these in turn trigger automations an

[2020-11-30 18:39] zacs commented on #13
Nice @brandondb1 I'll diff that with current and try to get it added this week.

Auto mode is a bit more annoying to add since technically it requires a temperature target range instead of a temperature target (and there are a bunch of implications to the logic there). So likely `fan` will get added first.

[2020-11-30 18:43] brandondb1 commented on #13
I tried to figure out an auto mode, but as you say it was hard to do.  You
risk creating an infinite energy consumption machine that heats until it
cools...

On Mon., Nov. 30, 2020, 13:39 Zac, <notifications@github.com> wrote:

[2020-12-23 23:12] z4rn0x opened #14 "Thermostat in Auto won't stop the heater"
Hello Zacs, thanks for the good work, I really like the functionality of this dual mode thermostat. Unfortunately, it doesn't work for me. I think I have identified a bug, but I'm very surprised t be alone with this problem, so maybe the problem is "me" :-) ...
This is what's happening:
- Room temp: 23
- Heat mode: target temp set at 24 => the heating will start... target temp set at 20 => the hea

[2020-12-28 16:28] jacopoventura01 commented on #13
hi, do u add the fan controls?

[2020-12-31 03:23] Nick-Adams-AU opened #15 "[Feature request] Support setting a unique_id"
Thanks for your integration!

I would like to be able to specify a unique_id in yaml so that I can assign each climate control to a particular area. Currently, this is not possible due to the entity lacking a unique id:

```This entity ("climate.bed_3") does not have a unique ID, therefore its settings cannot be managed from the UI. See the documentation for more detail.```

[2021-01-20 03:00] scarpazza opened #16 "Thermostat does not seem to honor min_cycle_duration"
Hi.
It appears that the thermostat does not properly honor the min_cycle_duration directive.
Below follows a minimalistic example with fake heat and cooler switches.
min_cycle_duration is set to 10 seconds, but quick manual operation reveals that it's possible to make either heat or cooler switches trigger off-on-off almost immediately, while the second transition should not occur earlier than 10

[2021-01-20 22:49] zacs commented on #16
Hmm, I wonder if `min_cycle_duration` was added after I forked the built-in
generic thermostat. I would say I need to rebase to whatever HA's generic
is now, but to be honest I don't use the component any more, so I'm not
entirely motivated.

PRs are certainly welcome if someone else would like to take a crack at it!

On Tue, Jan 19, 2021 at 7:00 PM Daniele Paolo Scarpazza <
notifications@github.c

[2021-01-20 23:41] scarpazza commented on #16
Ok. I'm waiting for a couple of Shelly 2.5 relays to replace my Honeywell thermostat. As soon as I have them in place (and I plan to control them with your thermostat) I'll be happy to take a stab.
Thanks for your openness.

[2021-01-20 23:50] zacs commented on #16
I imagine it will be straight-forward if you just diff the `climate.py` in this repo with the generic stat in the main HA repo. I'm happy to CR it.

[2021-02-10 09:27] brizoo opened #17 "[Feature Request] Support one away_temp value for both heater and cooler"
Hi zacs, and thanks a lot for this integration that I use in my ha environment and is really helpfull to me :)

I have AC climate units that does both heating and cooling and I'm using this integration to avoid having two climates entities for the same physical device

I'm asking for a feature request here since I think it's missing one crucial thing: having one away_temp value for the heater and

[2021-02-10 09:56] brizoo commented on #17
I've tried to use "set_state" python script from here: https://github.com/xannor/hass_py_set_state with no luck.
Apparently it's not possible to change it using a python script since it has to be implemented on the climate side according to feedback in the script git support, so this is why I'm posting here :)

[2021-02-10 11:47] brizoo commented on #17
An idea would be to add an "away_temp_cool" that would be used only when in "cool" mode, and keep using "away_temp" for the "heat" mode.

[2021-02-11 09:06] brizoo commented on #17
Hi zacs, Just modified the code myself and created a pull request: #18

[2021-03-08 13:59] towerclimber87 opened #19 "No 'version' key in the manifest file for custom integration 'dualmode_generic'. This will not be allowed in a future version of Home Assistant. Please report this to the maintainer of 'dualmode_generic'"
I am gettting this error. the device works fine but i am afraid that it will stop working.

[2021-04-15 05:46] GsynthChris commented on #19
I just updated to the most recent HA and not the error specifies a date. Looks like it will be blocked in the June release

No 'version' key in the manifest file for custom integration 'dualmode_generic'. As of Home Assistant 2021.6, this integration will no longer be loaded. Please report this to the maintainer of 'dualmode_generic'

[2021-04-15 05:54] GsynthChris commented on #19
Work around was pretty simple. I just added a line to the manifest.json with `"version":"1.0"` and after a restart the error isn't in my logs anymore.

[code]

[2021-04-15 11:04] towerclimber87 commented on #19
Awesome, thanks!

On Thu, Apr 15, 2021 at 12:55 AM Chris Brooks ***@***.***>
wrote:

[2021-04-16 12:40] franfos commented on #19
Hi @zacs ,
are you still on charge of this repo? Maybe, if you are not able to attend it, you can add a collaborator who can keep it alive.

Best regards.

[2021-04-16 16:13] zacs commented on #19
I would be happy to add a collaborator, if someone is willing. Obviously the version addition is simple -- fixed in 8702384e528fb0d9f2d3ef21539a003b5574e31f.

[2021-04-16 16:13] #19 closed

[2021-05-21 12:16] mbrevda opened #20 "Merge with core?"
Was wondering if it would make sense to merge these changes with the generic_theormostat that in core instead of requing HACS?

[2021-05-21 16:38] zacs commented on #20
I certainly agree -- although I suppose it would be more of a `template_thermostat` since that is a bit more in line (for naming) with other template devices. But having seen the insane bar for entry into core, I don't think there's much chance that I'm able to spend the time to get that done.

[2021-05-22 17:48] mbrevda commented on #20
Oh, didn't realize it was that challenging. If you work up the the courage,
drop a link to the PR here - would love to follow along!

On Fri, May 21, 2021, 7:38 PM Zac ***@***.***> wrote:

[2021-06-03 02:54] zacs commented on #20
Appreciate the support! Unfortunately since HA is used by so many people and in so many different environments, they [rightly] have a pretty high quality bar for getting into the core. Will close this issue for now, thanks!

[2021-06-03 02:54] #20 closed

[2021-06-03 16:25] #9 closed

[2021-06-03 16:25] #14 closed

[2021-06-03 23:32] danps1 opened #22 "'CONF_FEELS_LIKE' is not defined"
Hi,

Since updating to version 7670e6c, when attempting to restart HA Core, I get the following failure...

``` Failed to call service homeassistant/restart. name 'CONF_FEELS_LIKE' is not defined ```

I fixed it by commenting out line `107` in `climate.py` like...

```        # vol.Optional(CONF_FEELS_LIKE): cv.boolean,```

Thanks

Dan

[2021-06-04 06:40] #22 closed

[2021-06-04 06:41] zacs commented on #22
Thanks much for catching quickly!

[2021-06-04 21:03] david-kalbermatten commented on #13
@jacopoventura01 If you feel adventurous, you can try my version over on [https://github.com/david-kalbermatten/ha-dualmodegeneric](https://github.com/david-kalbermatten/ha-dualmodegeneric)

I added a fan and dryer mode (both optional) and merged the latest changes of this repository, so it also supports the `heat_cool` mode.

Looks like this in HA:
![image](https://user-images.githubusercontent.c

[2021-06-04 22:03] david-kalbermatten opened #23 "[BUG] New `heat_cool` mode causes UI-Issues with target_temp"
## Context
I already hinted at this issue in my PR for the Fan and Dryer mode #8. However, it seems to be a general problem where you either have a dual-mode thermostat that supports :
[code]
OR

a single-mode thermostat that just supports:
[code]

## Issue
Right now the integration supports all three which doesn't seem to be supported by Home Assistant's UI...
![image](https://user-images.githubu

[2021-06-04 22:17] david-kalbermatten commented on #23
@lossanarch I'd highly appreciate it if you could tell us whether you tested the integration in `heat` and `cool` mode after adding `heat_cool`. Being able to set the `target_temp` is crucial if you don't intend to always have it running in `heat_cool` mode.

Not to cause bad blood, I love the added functionality but I think they came at the cost of what was already working...

[2021-06-04 23:15] lossanarch commented on #23
@david-kalbermatten I thought I tested this during early development changes and it would switch back to target temp mode when in `heat`/`cool` modes, but you are right, it certainly isn't working now. Whether I broke it later and didn't notice since I use it almost exclusively in `heat_cool` mode or whether an update has changed something, I don't know.

I've taken a look around at a few codebase

[2021-06-05 03:08] milandzuris commented on #23
I like the new BUG I have new tweaks that I would very much like to adopt in HA.

[2021-06-05 03:25] zacs commented on #23
@lossanarch It might make the most sense to check for the `_low` and `_high` vars at instantiation and if present, ignore the `target_temp`, otherwise use only `target_temp`. I agree that your option 1 is a little hacky (or overly explicit) but it at least solves the issue, particularly since it's backwards compatible.

I'm mostly just surprised that more than 3 people use this component ;). We'll

[2021-06-05 03:37] zacs commented on #23
@david-kalbermatten Would you mind trying out d1670c9 (the `heat_cool-fix` branch) and seeing if this solves the issue? Or if anyone else has the desire to do so, it would be much appreciated.

I believe this should fix it during initialization of the component, but unfortunately I don't use the component in my production env any more and I have no test (though I will now fix that for the future!)

[2021-06-05 06:35] lossanarch commented on #23
I like this a lot better than my one 👌
I’ll test out the fix branch tonight, sorry I couldn’t get to it sooner.

[2021-06-05 08:38] david-kalbermatten commented on #23
Didn't work because the code of @lossanarch expects to always have `_low` and `_high` available and it would also completely remove the feature of `heat_cool`.

I propose that we should rather use the `target_temp_high` for the heater when checking if the temperature has been reached and `target_temp_low` for the cooler and ditch `target_temp`.

[2021-06-05 10:06] david-kalbermatten commented on #23
Alright, I fixed it on my fork, I set it up that when both `heater` and `cooler` are configured the flag `SUPPORT_TARGET_TEMPERATURE_RANGE` is used otherwise it uses `SUPPORT_TARGET_TEMPERATURE`.

I also adjusted the temperature check functions to check for the SUPPORT_FLAG instead of the HVAC_MODE
[code]

__So in summary:__
If only one entity is set, the regular target_temp is used if both entiti

[2021-06-05 12:55] lossanarch commented on #23
I've been working on the heat_cool-fix branch, it seems the right way to handle it but unfortunately there are a lot of checks to do or AttributeError exceptions to handle since everything (inc. the original generic thermo) is written with the assumption that those properties are available. I've now opened a draft PR #24.

@david-kalbermatten I don't think it's robust to check the support flags th

[2021-06-05 13:06] david-kalbermatten commented on #23
Either that or we're missing something... I noticed the same behaviour in Google Home as well, so it would seem that you are supposed to use both `target_temp` and `target_temp_range` but Home Assistant doesn't support that properly or needs more tweaking :/

[2021-06-05 18:37] zacs commented on #23
Thanks for digging into this @david-kalbermatten and @lossanarch - it does actually seem like a bug in the frontend. Even in the [docs](https://developers.home-assistant.io/docs/core/entity/climate/#hvac-modes), there is no mention of one needing to limit the number of modes.

That said, I think there is still the issue of support flags. I think we can solve that by:
1. Reverting line 81 to be jus

[2021-06-05 19:01] zacs commented on #23
Outside of the funky UI, I believe 884bc66 should fix things. I think the three of us are nearly exactly a third of a planet away as far as time zones, but let me know if either of you can kick the tires. I'm going to setup a new docker env to test this junk in the meantime.

Again, appreciate the patience and engagement.

[2021-06-05 19:55] david-kalbermatten commented on #23
I left a [comment ](https://github.com/zacs/ha-dualmodegeneric/commit/884bc663ec19b559f0bd1bd5943870fca792486e#commitcomment-51773109)on this commit with a reference to the lines in my PR. I set it up so it's backwards compatible and also allows you to completely turn of `heat_cool` with the optional flag:

[code]

By default, if you have both configured (`heater` and `cooler`), you would also get

[2021-06-05 20:04] david-kalbermatten commented on #23
@zacs If you want my implementation to work exactly the same as yours in https://github.com/zacs/ha-dualmodegeneric/commit/884bc663ec19b559f0bd1bd5943870fca792486e, I can do that. In which case I would set the default of `enable_heat_cool` to `False` and set the support flags like this for when `heat_cool` is enabled
[code]

...and like this for when it is not:
[code]

[2021-06-05 20:18] zacs commented on #23
My goal was to enable heat_cool implicitly based on whether the _high and _low targets were both set. Just trying to avoid extra variables if at all possible while maintaining back compat.

[2021-06-05 20:31] david-kalbermatten commented on #23
I do see why you might want that but that doesn't make a whole lot of sense in my opinion since those values are adjusted frequently...
And it makes it more confusing for people who stumble across this custom integration since there is no documentation about it on the generic thermostat from the core.

But if you insist on having it implicit I'll change it ;D

[2021-06-05 21:31] zacs commented on #23
I think I see what you're saying. I want to see how it works in the frontend either way to make sure it isn't a terrible experience. Will add to docs either way. Thanks!

[2021-06-07 11:08] lossanarch commented on #23
@zacs Apologies for the radio silence, had a busy couple of days. I've checked [884bc66](https://github.com/zacs/ha-dualmodegeneric/commit/884bc663ec19b559f0bd1bd5943870fca792486e) and found it works as I would expect it to.
For thermos with a `/_high|_low/` value set they only show the temperature range slider (as expected).
If switched to `heat` or `cool` modes they begin operating from the targ

[2021-06-07 12:20] david-kalbermatten commented on #23
So, that's 2 out of 3 in favor of the implicit approach. I'll change my PR to reflect this decision. Can we merge my changes with the fix or do want to only incorporate the fix for `heat_cool`? @zacs

I'll change it to implicit checking instead of the boolean flag, but if I don't get to do it this evening, it'll be Friday until I have time to work on it again.

[2021-06-08 10:59] Hacker-CB commented on #23
I also suggest to make `heat_cool` mode optional.
In most cases user can select exact `heat` or  `cool` mode by himself.

Three controls (target,min,max) in GUI is too complicated for simple user like my wife :)

[2021-06-09 00:59] DNKROZ opened #25 "Climate heat_cool mode doesn't work, and UI errors from HA 2021.6.1 and up"
Hello.

I'm running HA in a docker container using an nvidia Jetson Nano (arm64 arch).

The new heat & cool mode (nice addition btw) is broken with HA versions **2021.6.1** and above, it does however work using **2021.6.0** version, as a simple downgrade fixes the problem (it resets though heating temp to the max to do so)

When trying to set the climate entity to "heat_cool" a message pops up in

[2021-06-12 12:04] david-kalbermatten commented on #23
Alright, I had time to make the changes and it also fixes issue #25 since there's always a high and low value defined when using heat_cool.

@zacs Everything is set up in a way that people can just update and not notice any difference since I made all my changes (#8) backwards compatible. This should allow people to smoothly transition.

[2021-06-18 13:47] cyberjacob commented on #23
Been trying out a few of the proposed solutions to this today. David's fix currently looks the best, though I think it may need one small change.
With one of the earlier commits in the fix, the `SUPPORT_TARGET_TEMPERATURE` flag was only added if the `SUPPORT_TARGET_TEMPERATURE_RANGE` _wasn't_ added. This results in the UI working much better (see attached screenshots)

As a semi-related note that

[2021-06-18 14:55] david-kalbermatten commented on #23
Yes, this was my initial approach. However, it seems that you are supposed to expose both flags at the same time because Google Home and Apple HomeKit work without an issue. This indicates that Home Assistants UI has a bug or a poorly documented workaround... Either way, we shouldn't put my initial workaround in because it breaks functionality with Google Home and Apple HomeKit.

My current versio

[2021-06-18 16:34] zacs commented on #23
Thanks for your ongoing work here @david-kalbermatten!

One question while I am looking through your code (finally -- sorry, life is busy): should `target_temp_high` (and `low`) be config values? They come from the UI/state of the entity, right? I'm trying to understand why they'd even be declared when `target_temperature` itself was never a config param.

I feel like we have to (internally) have

[2021-06-18 17:05] david-kalbermatten commented on #23
I don't know, I didn't introduce them. That came from @lossanarch.

I love it, you're finally starting to see reason :D. I can revert back to an explicit boolean flag for enabling `heat_cool`. But keep in mind, this would also mean that issue #25 will have to be investigated further.

No, I wouldn't do that for two reasons:
1. Not everyone has both set up (heater & cooler). My PR aims to bring mor

[2021-06-18 21:08] zacs commented on #23
I'm still a bit wary to turn this from "dual mode generic" to full on "template thermostat" but if that's the direction folks are interested in, I don't object to increased functionality, as long as thing remain backwards compatible.

In any case if we add back your original boolean for supporting temp range, then we can just set `SUPPORT` based on that and be done with it, though we'd also need t

[2021-06-18 22:41] david-kalbermatten commented on #23
@zacs Alright, I added back the boolean flag `enable_heat_cool` and set its default value to `False`. This should allow people to update without having issues.

But we still have to investigate issue #25. Seems like it only restores some of the target_temperatures when starting HA...

[2021-06-19 13:58] cyberjacob commented on #23
Personally, I'd be in favour of both `enable_heat_cool` (with a sensible default for existing users) and extending the integration's functionality further.

I was considering building one myself, to fully handle all the sensors (multiple temperature, humidity, and air quality) and actions (heat, cool, dehumidify, fans, and air purifiers) that Home Assistant can handle, because it seems like there'

[2021-06-19 14:40] bkvargyas commented on #23
I've been watching all the activity from behind the scenes, and while I'm not a developer, I am interested in seeing this project move forward into a full fledged software thermostat, agreed that there seems to be no good integration today that can do this.   With ESPHome now into the ecosystem, this project becomes more relevant for those that wish to "manually" control IoT devices.   Personally,

[2021-06-21 19:05] zacs commented on #25
Hmm it looks very similar to #1, which I was not able to repro either. My guess was that it was a race condition (dualmode getting set up before the actual sensors were) and it ended up working after a few seconds. Does your thermostat work at all?

[2021-06-21 20:19] DNKROZ commented on #25
I've left them several hours and they don't get to work at all using heat_cool mode, however, they do work if I change the mode to heat or cool, but if I select the heat_cool mode again I get the error.

I think the problem is that it's not restoring previously selected temps and defaulting to the ones stated in the configuration, which I din't have (I relied only on saved values) and thus the emp

[2021-06-22 17:34] AWoodley commented on #15
Have created a pull request for this - #26

[2021-06-28 12:48] cyberjacob commented on #23
Guess I'll post this one here, as @david-kalbermatten's branch has issues disabled (looks like a GitHub default fwiw). I'm still running the latest version of David's branch (5e5d90f) and have noticed an error popping up fairly regularly, though I'm not certian it's only since the last commit. It appears to occur when the thermostat is running in heat/cool mode and idle, when the room temperature

[2021-06-28 13:18] david-kalbermatten commented on #23
@cyberjacob Yea, you're right I see the issue. I overlooked a case there.

This was the original [code](https://github.com/zacs/ha-dualmodegeneric/blob/master/custom_components/dualmode_generic/climate.py#L532-L551):
[code]

This is my version of the [code](https://github.com/david-kalbermatten/ha-dualmodegeneric/blob/master/custom_components/dualmode_generic/climate.py#L701-L727):
[code]
The orig

[2021-06-28 13:24] cyberjacob commented on #23
Given the AC immidiately switched on, looks like that's fixed it. I'll keep an eye out for any side-effects.

[2021-07-11 23:10] mjsambol opened #27 "Help with combined compressor + fan mode"
Hi, thanks for your work on this component, it's much appreciated!

I have a central A/C system and am trying to reproduce two separate cooling modes which are offered by some thermostats: one in which the fan runs full-time, with the compressor turning on and off periodically, and the other in which the fan only runs when the compressor is on.

I have a series of relay switches connected to the f

[2021-07-11 23:58] mjsambol commented on #27
I'm not certain, but this section of code caught my eye:

[code]

do those last few lines mean that what I'm trying to do - have the fan running during 'cool' mode - is explicitly not supported?

[2021-07-12 10:15] cyberjacob commented on #27
Try adding `reverse_cycle: cooler` to your config, you might also need fan in there too

[2021-07-12 10:43] mjsambol commented on #27
Thank you for the suggestion. I tried last night adding

`reverse_cycle: cooler, heater, dryer, fan`

it doesn't look to me from the code like the order matters or there is a down-side to including too many. As far as I can tell this is just a mechanism to prevent the code from shutting one mode before switching to another.

This change didn't help, I still had the same problem: compressor never t

[2021-07-12 15:01] mjsambol commented on #27
I think I've figured this out. In `_async_control_heating` there is a block of code:

[code]

self._is_device_active is evaluating as True because the fan is on.
condition.state is being asked: has the *compressor* been *on* for min_cycle_duration? And the answer is no, because it's not really on at all. And this will never change as long as the fan stays on.

I'm not sure that this logic is corre

[2021-07-12 16:10] mjsambol commented on #27
The work around was successful. This approach works.

For the sake of future users, it may be worth documenting this, or considering changes to the section of code above.
(There's also a typo in the README: reverse_cylce)

[2021-07-12 16:53] david-kalbermatten commented on #27
Thanks for your insight. The fan and dryer modes are the same as cooler and heater and only toggle a switch or input_boolean. You can define the behaviour of the two modes by telling what they should act as (heater, cooler, neutral). There is no further logic behind it. If you think this integration is lacking a generalized feature, please open a feature request with a clear and concise descriptio

[2021-07-12 17:26] mjsambol opened #28 "[Feature Request] support running multiple elements concurrently"
Some HVAC systems require that circuits be controlled independently for fan, compressor, heat pump, etc. The fan may be turned on and off together with the compressor, or the fan may run continuously, independently of the compressor's activation and deactivation. There are merits to each of these, see for example

- [reference 1](https://www.rhoadsenergy.com/should-i-set-my-hvac-systems-fan-settin

[2021-07-12 17:26] #27 closed

[2021-07-12 18:51] david-kalbermatten commented on #23
I'll close this issue for now, since the problem lies with the frontend (or that's at least what we think the issue is...). And the workaround gives the user the choice of using `heat_cool` and dealing with three target temperatures or leaving it disabled and have it work like it used to before.

[2021-07-12 18:51] #23 closed

[2021-07-12 18:54] david-kalbermatten commented on #3
@zacs I think this issue can be closed now since you merged #8

[2021-07-12 18:56] zacs commented on #15
Fixed in #26 -- thanks @AWoodley!

[2021-07-12 18:56] #15 closed

[2021-07-12 18:59] zacs commented on #13
Closing, since the assumption is that the switches are ceded to the component, and it's too complex to listen for other things changing those switches.

[2021-07-12 18:59] #13 closed

[2021-07-12 19:00] zacs commented on #3
Correct! Closing as added in #8.

[2021-07-12 19:00] #3 closed

[2021-07-13 17:01] Shadewing666 opened #29 "Support flags not setting correctly"
Hi Zacs,

Looks like the latest update, 13b047b, breaks the Heat/Cool feature, or it does for me at least.

I think I tracked the problem to the inclusion of this line from the latest update:
`         self._support_flags = SUPPORT_FLAGS`

I noticed that my climate entity had a supported_features value of 1, which corresponds with SUPPORT_TARGET_TEMPERATURE.  It would need a value of 2 at least to

[2021-07-14 13:36] david-kalbermatten commented on #29
Yea, somebody probably didn't merge properly when adding the `unique_id` feature in #26.

The last line shouldn't be there. It overwrites the check-based assignment that comes before it...
[code]

[2021-07-14 13:49] david-kalbermatten commented on #29
Now it's up to you @zacs ;D

[2021-07-14 17:35] zacs commented on #29
Thanks for the PR. Weird that no merge conflict got found in #26. In any case, merging now.

[2021-07-14 17:35] #29 closed

[2021-07-14 17:42] zacs commented on #28
I agree this sort of behavior is ideal in HVAC systems, but it seems like a great deal of complexity. Would it work for you to solve each situation like so?

- continuous fan / periodic compressor: I believe this will work in the component as-is, as long as you specify the fan switch and keep it turned on, and the compressor as the cooler switch which would only turn on when needed to hit a target

[2021-07-14 19:59] mjsambol commented on #28
Yes, I've solved the issue for myself, but it's a bit involved. I opened the FR for the benefit of future users:

[2021-07-17 16:07] leshric opened #31 "keep_alive not working"
I'm getting this in the log:

Logger: homeassistant
Source: custom_components/dualmode_generic/climate.py:814
Integration: dualmode_generic (documentation)
First occurred: 10:42:40 AM (1 occurrences)
Last logged: 10:42:40 AM
Error doing job: Task exception was never retrieved

Traceback (most recent call last):
  File "/config/custom_components/dualmode_generic/climate.py", line 814, in _async_con

[2021-07-19 22:35] david-kalbermatten commented on #31
Yes, I'm sorry. This one is me. I forgot to check whether or not `active_entity` was assigned when used here:
[code]

I moved the assignment further outside in the corresponding function in my PR #32.

[2021-07-21 12:23] brizoo commented on #17
Hi @zacs
Do you need anything else from me? Is that possible that we merge please? I'm still forced to avoid the updates and would like to be able to keep on the master branch :)
Thanks,

[2021-07-25 10:20] david-kalbermatten commented on #31
@leshric or @zacs If my PR #32 fixed this issue please feel free to close it ;D

[2021-08-02 16:40] dave0111 opened #33 ""Precision" feature not working"
"Precision" feature, natively integrated in generic_thermostat component is not recognized by the custom thermosat: even though it is set to 1.0, i still get steps of 0.5°

[2021-08-05 17:44] sebastianeferrer commented on #33
Found the issue we should add target_temperatura_set as generic thermostat does https://github.com/zacs/ha-dualmodegeneric/blob/44b241939627d7eedd7e47de07eac65e2c98056d/custom_components/dualmode_generic/climate.py#L487

[2021-08-05 17:53] sebastianeferrer commented on #33
https://github.com/zacs/ha-dualmodegeneric/pull/34

You can get the fix from PR34

[2021-08-09 15:23] sebastianeferrer commented on #33
https://github.com/zacs/ha-dualmodegeneric/pull/34 was merged, you can close this issue now.

[2021-08-09 17:45] #33 closed

[2021-08-18 02:22] peanutsguy opened #35 "[Bug] Thermostat not displaying range"
After updating to 72664fe the thermostat stopped displaying the range for `heat_cool`

[code]
Home Assistant
Platform: | Docker
-- | --
Version: | core-2021.8.7

HACS
Integration version: | 1.13.2
-- | --
Frontend version: | 20210620205902

Dual-Mode Generic Thermostat
Version: 72664fe

![dualmode_generic](https://user-images.githubusercontent.com/5214572/129826133-966baca0-4e31-4144-94da-1e6d8c42

[2021-08-21 23:53] DNKROZ commented on #35
Same problem here, I've doubled and tripled checked the docs and I think my configuration is ok, but after last version I can't see the range either.

[2021-08-22 19:35] zacs commented on #35
That checkin seems to have been pretty isolated (it is just setting a step size for the up/down arrows I believe). @sebastianeferrer any reason you can think your PR would've caused this?

@peanutsguy Were you running adfc49a7d01be3dc637dfd9c1929d062e0c39898 before this? Or more specifically, do you know the last version you ran that had the range correctly enabled?

[2021-08-23 03:44] peanutsguy commented on #35
@zacs I'm afraid I didn't check which commit I was running before. It could've been d5e760f, going by the date of the commit.

[2021-08-23 15:48] cyberjacob commented on #35
Upgraded this morning and I'm finding the same issue. Previously running 44b2419 if that helps

[2021-08-25 05:13] zacs commented on #31
Fixed in #32

[2021-08-25 05:13] #31 closed

[2021-08-25 11:20] DNKROZ commented on #35
Last update 5bd6c37 doesn't fix the issue, still present.

[2021-09-02 17:51] TheCrimsonBlade commented on #35
Just jumping in to add interest in getting that range back, it was there in homeassistant_2021.7.4, but is no longer now that I am up-to-date on homeassistant_2021.9.0.
Great integration though!

[2021-09-07 07:49] phretor commented on #12
I'm on the latest release (just pulled now) and I noticed that the "on/off" toggle switch doesn't call the `switch.turn_on` service on the `switch.studio_a_c` entity. Here's my configuration:

[code]

[2021-09-10 12:51] Delgrey opened #36 "Reverse Cycle Compressor/Heat/Fan"
I'm not getting this sorry.

I have a 20yo ducted reverse cycle system. The relay controls are:

1. Compressor - Runs the compressor in cooling mode
2. Fan - Runs the fan (stand alone mode for air circulation. Fan runs automatically with compressor)
3. Heat - Changes direction of compressor (reverse cycle/heat pump mode)

So to make this work I need:

1. Cooling: Just contact #1
2. Heating: Contac

[2021-09-12 20:18] cyberjacob commented on #36
Try creating three template switches, for heating, cooling, and fan respectively. Make sure each switch checks the status of all three contacts, for example the cooling switch should only report as on when contact 1 is on, and contacts 2 & 3 are off. Use these as the entities for heater, cooler, and fan respectively.

[2021-09-12 20:29] mjsambol commented on #36
Hi, I am not a developer of the system but I recently adopted it for a HVAC setup similar to yours. In my case the fan doesn't automatically get power with heat or cool, but otherwise seems similar.

To start with your observations:

Correct, that's intended behavior. The arrows change the desired temp, not the mode.

I don't see anything obviously wrong in your configuration. Did you wait the con

[2021-09-15 17:40] bwaddington opened #37 "[Feature Request] heat_cool tolerance"
i might be doing it wrong
is there any way you can add
cold_tolerance min/max
hot_tolerance min/max

[2021-10-02 17:49] #35 closed

[2021-10-03 21:17] zacs commented on #25
@DNKROZ can you give it a try now? It may have been fixed by #38.

[2021-10-03 22:30] DNKROZ commented on #25
Hi @zacs , I've just tried it with the last hacs commit, it fixes the dual mode heat/cool setup and it works, however, it does so as long as you have target low & high temps stated in the configuration, it doesn't store values from one run to another and if you delete those variables from the config the behaviour stays the same ("Unsupported operand type(s) for +: 'NoneType' and 'float'", etc).

I

[2021-10-10 11:03] EShamaev opened #39 "copy-paste error"
https://github.com/zacs/ha-dualmodegeneric/blob/1737de63bff3cc3ff139fb0c2e28a16f81fa6310/custom_components/dualmode_generic/climate.py#L443

Should be self._target_temp_high

[2021-11-04 23:24] Frag31337 opened #41 "Cannot go from cooling to heating state"
Line 770 need to use this string to avoid this problem
                elif (self._hvac_mode == HVAC_MODE_HEAT_COOL) and (is_comfortable  or (self.hass.states.is_state(self.cooler_entity_id, STATE_ON) and too_cold) or (self.hass.states.is_state(self.heater_entity_id, STATE_ON) and too_hot)):

[2021-11-16 11:05] david-kalbermatten commented on #12
Yea, that won't work because you're trying to use the same switch for both heating and cooling... (at least according to your config)

[2021-12-10 05:28] LEJOUI opened #42 "Exception in callback"
During startup of HA I’m getting the following error in my log.
The climate entity seems to be created though. It’s a mobile hvac, so I’m not able to test all of my functions at this point since it’s stored away right now.

logs:

[code]

[2021-12-13 00:50] bbrendon commented on #42
I just tried upgrading to 2021.12 and it blew up (not this integration) so I'm back on 2021.11.

Same exact issue.

[2021-12-13 13:25] mgoulet65 opened #43 "Error at startup. Thermostat still works."
I am running on HA Blue. I get the following error (just once) each startup. The thermostat seems to still function fine in both heat and cool mode. Just wondering if this is something I can fix or should worry about.

2021-12-11 15:49:33 ERROR (MainThread) [homeassistant] Error doing job: Exception in callback DualModeGenericThermostat.async_added_to_hass.<locals>._async_startup(<Event homeassist

[2021-12-14 00:16] XLR-24 commented on #43
I have exact the same error in my HA 2021.12.2 log details.

[2021-12-18 14:29] Vartkat opened #44 "Merging two thermostats question"
Hello,

I'm looking for a logic solution to the following situation : two real thermostats (Honeywell), one drives an AC, the other a Heating system.
The place is rented and people often ask heat from the AC thermostat (on which there's no heating system connected) or ask cool from the Heating thermostat (on which there's no cooling connected). And sometimes they even ask heat and cool at the same

[2021-12-19 05:58] zacs commented on #44
There are a few ways to do this. Probably the simplest would be to have your heater and cooler switch templates not just call the climate.turn_on, but also have a second action that calls climate.set_temperature, where the value you send is just a reference to your dualmode_generic's target temp.

You'd also want an automation that listened for any changes to the target temp in your gualmode_gener

[2021-12-19 06:00] #10 closed

[2021-12-19 06:00] #1 closed

[2021-12-22 23:56] david-kalbermatten commented on #43
Noticed that as well. Probably introduced with #40
Because the contributor changed the signature of the function while HA expects to be able to pass the "unused" variable `event` along. Hence the error at the end of the stack trace...
[code]

This function gets called and itself calls another function which finally tries to run the `def _async_startup()` function which doesn't accept args anymore

[2021-12-23 00:01] david-kalbermatten commented on #42
Closing this issue in favor of #43.
(Sorry, saw the other one first and already commented on it)

[2021-12-23 00:01] #42 closed

[2021-12-23 04:19] #43 closed

[2022-01-17 21:51] javixuwi opened #46 "[Feature request] Show % temperature sensor"
It will be interesting to show the battery  % of the temperature sensor.

[2022-02-02 11:13] david-kalbermatten commented on #46
You can do that by using a custom thermostat card like this: https://github.com/nervetattoo/simple-thermostat
Adding a battery % to the climate entity is not possible as far as I'm aware and also wouldn't show up in the default thermostat card of Home Assistant Lovelace UI.

[2022-02-03 21:38] BebeMischa opened #47 "Thermostat won't stop heating"
Hello,

just installed today and trying to get it to work, but it won't stop heating when temperature is reached.

HA supervised 2022.2.0, HACS 1.21.0, Dual thermostat cb0d234

code:
[code]

And here I'm looking at now:

![image](https://user-images.githubusercontent.com/73079275/152432942-fc1e43b9-0c87-4cbd-8c4b-230af6edb238.png)

Temperature is set to 29,9 - 30.1 , tolerances are both 0.1 but it

[2022-02-06 17:38] BebeMischa commented on #47
Ok, never mind. Installed different integration, which worked out of the box...

[2022-02-06 18:02] #47 closed

[2022-03-03 20:07] #46 closed

[2022-03-04 06:08] #44 closed

[2022-05-07 22:46] arifeinberg opened #48 "Unset 'temperature' attribute when using dual set point."
Would it be possible to unset the "temperature" attribute when using dual set points?  At present, my thermostat looks like this:
![image](https://user-images.githubusercontent.com/1208877/167274219-ce252e3d-76db-4945-9e1e-28046a5399f7.png)

Ideally, would not have to deal with temperature attribute when using target_temp_high and target_temp_low.

[2022-09-27 20:15] Xeyow opened #49 "[Feature Request] Add target_temp_step parameter"
Hello. Would be great if you could add the target_temp_step to this (just like the official generic thermostat), so that the slider's positions can be configured for steps of 0.1 / 0.5 / 1... For example, my AC does not support 25.x degrees, it's either 25 or 26. Thanks!

[2022-09-27 20:36] #49 closed

[2022-10-05 07:53] dsaul560 opened #50 "target_temp_step config missing"
The configuration variable "target_temp_step" from the Generic Thermostat is not present on the dual mode generic thermostat.

[2022-11-30 22:58] zacs commented on #50
fixed in #51 -- thanks @ab0tj

[2022-11-30 22:58] #50 closed